.project {
  width: 60%;
  display: flex;
  text-align: justify;
  flex-direction: column;
  align-content: flex-start;
  color: white;
}

.project-description {
  margin-bottom: 0.5em;
  padding-top: 1em;
}

.project-img {
  width: 100%;
}
