.upper-half, .bottom-half {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 4em;
}

.bottom-half {
  padding-bottom: 0em;
}

.front-end, .back-end, .testing, .programming-languages, .soft-skills, .acquiring {
  line-height: 0.5;
}

h5 {
  line-height: 2;
  animation-name: skills-titles;
  animation-duration: 1.5s;
}

.skills p {
  animation-name: skills-text;
  animation-duration: 2s;;
}

@keyframes skills-titles {
  0% {opacity: 0;}
  100% {opacity: 100;}
}

@keyframes skills-text {
  0% {opacity: 0;}
  100% {opacity: 100;}
}