.profile {
  height: 679px;
  padding-top: 2em;
}

.profile-picture {
  display: none;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 3em;
  height: 80%;
}

.modes {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

// @media only screen and 

@media only screen and (min-width: 500px) {
  .modes {
    padding-top: 3em;
  }
}

@media only screen and (min-width:1110px) {
  .profile {
    display: default;
  }
}

@media only screen and (min-width:820px) {
  .jumbotron {
    width: 40%;
  }

  .modes {
    padding-top: 0em;
  }

  .profile-picture {
    display: block;
  }
}

@media only screen and (min-width:1222px) {
  .modes {
    padding-top: 2em;
  }
}

@media only screen and (min-height:632px) {
  .jumbotron {
    height: 80%
  }
}
