.Projects {
  height: 100vh;
  background-color: #a68500;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  padding-top: 2em;
}

.Projects h4 {
  margin-top: 1em;
  font-family: 'Archivo', sans-serif;
  font-size: 2em;
  color: white;
}

.websites {
  display: flex;
  justify-content: center;
  animation-name: website;
  animation-duration: 1s;
}

.toggle-mode-arrows {
  color: white;
}

.placeholder {
  color: white;
}

@keyframes website {
  0% {opacity: 0;}
  100% {opacity: 1;}
}