.summary {
  height: 100vh;
  padding-top: 5em;
}

.text {
  margin-top: 6em;
  margin-left: 1em;
}

.description p:nth-child(1) {
  line-height: 0;
}

.description p:nth-child(2) {
  line-height: 0;
}